* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    width: 90%;
    margin: 40px auto;
    min-height: 90dvh;
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.card {
    background-color: grey;
    border-radius: 10px;
    box-shadow: .5px .5px 2px 1px;
}

.card1 {
    /* grid-column-start: 1 ; */
    /* grid-column-end: 3; */
    grid-column: 2/4;
    grid-row: 2/3;
    /* grid-column: span 2; */
    background-color: tomato;

}


.container2 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.container2>div {
    font-size: 3rem;
    color: white;
    /* text-align: center; */
    /* align-content: center; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    display: grid;
    place-content: center;
}

.header {
    background-color: yellow;
    grid-column: 1/4;
}

.sidebar {
    background-color: orange;
    grid-row: 2/8;
}

.content1 {
    background-color: #CE0102;
    grid-column: 2/4;
    grid-row: 2/5;
}

.content2 {
    background-color: #D704FB;
    grid-column: 2/3;
    grid-row: 5/8;

}

.content3 {
    background-color: #D704FB;
    grid-column: 3/4;
    grid-row: 5/8;
}

.footer {
    background-color: yellow;
    grid-column: 1/4;
}